<% @products.each do |product| %>

  <p>
    <%= link_to product.name, "products/#{product.id}" %>
    <%= product.name %>
    <%= product.description %>
    <%= product.formatted_price %>
  </p>
<% end %>
