<p> Reviews for <%= @product.name %> </p>
<% @product.reviews.each do |review| %>
<p class ="comment">
  <%= review.comment %>
  <br/>
  <% if review.user != nil %>
    <em> by <%= review.user.name %></em>
    Added on: <%= review.created_at %>
  <% end %>
</p>
<% end %>
