<div id='review-form-errors'>
  <% if @review.errors.any? %>
      <div id='error_explanation'>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>
